{% extends "base.html" %}
{% block head %}
<title>password</title>
{% endblock %}
{% block content %}
<div class="container">
<form method="post">
    <div class="mb-3 form-floating">
        <input type="password" id="id_pass" name="pass1" class="form-control" placeholder="password" required>
        <label for="id_pass">old password</label>
    </div>
    <div class="mb-3 form-floating">
        <input type="password" id="id_password" name="new_pass" class="form-control" placeholder="password" required>
        <label for="id_password">new password</label>
    </div>
    <div class="mb-3 form-floating">
        <input type="password" id="id_pass2" name="pass2" class="form-control" placeholder="password" required>
        <label for="id_pass2">new password(repeat)</label>
    </div>

    <p style="color : rgba(255, 0, 0, 0.7)">{{ message }}</p>
    <input type="submit" value="change" class="btn btn-primary">

</form>
</div>
{% endblock %}