{% extends "base.html" %}
{% block head %}
<title>{{ title }}</title>
{% endblock %}
{% block content %}
    <div class="container shadow p-3 mb-5 bg-white rounded" id="new_data">
        <h3>submit new {{ title | title }} here</h3>
        <form method="post">
            <div class="mb-3 form-floating">
                <input type="text" id="id_text" name="text" class="form-control form-control-sm" placeholder="text" required>
                <label for="id_text">text</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="number" id="id_amount" name="amount" class="form-control" placeholder="amount" required>
                <label for="id_amount">amount</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="datetime-local" id="id_date" name="date" class="form-control" placeholder="amount" aria-describedby="help_message">
                <label for="id_date">date & time</label>
                <small id="help_message" style="color: rgba(255, 0, 0, 0.6)">if you don't fill out this field. it automatically will be now.</small>
            </div>
            <input type="submit" value="submit" class="btn btn-primary">
        </form>
    </div>
            <div class="container"><p style="align-content: center; color: #ff0000">or</p></div>
    <div class="container shadow p-3 mb-5 bg-white rounded" id="excel_upload">
        <h3>import {{ title }}s from excel files</h3>
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3 form-floating">
                <input type="file" id="id_file" name="file" class="form-control form-control-sm" placeholder="xlsx_file" aria-describedby="file-uploading-help" required>
                <label for="id_xlsx_file">upload an Excel(xlsx) file</label>
                <small id="file-uploading-help" style="color: rgba(3,89,178,0.66)">
                    first row of this file should have these parameters(amount, text, date(optional))<br>
                    if you are using the date parameter, change its format to datetime in Excel.
                </small>
            </div>
            <p style="color: red;">{{ message }}</p>
            <input type="submit" class="btn btn-info" value="send file to database">
        </form>
    </div>


    <div class="container shadow p-3 mb-5 bg-white rounded" id="main_table">
    {% if multi_delete_mod %}
            <form action="{% url "web:multi_delete" title %}" method="post">{% endif %}
        <table class="table">
            <thead class="table-info">
                <th scope="col" class="text-center">{% if multi_delete_mod %}
                    <input type="checkbox" onclick="selectAll(this)">
                {% else %}
                {% endif %}</th>
                <th scope="col" class="text-center">text</th>
                <th scope="col" class="text-center">amount(tooman)</th>
                <th scope="col" class="text-center">date</th>
                <th scope="col" class="text-center">{% if multi_delete_mod %}
                    <input class="btn btn-info" type="submit" value="delete">
                {% else %}<form action="{% url "web:multi_delete" title %}" method="post">
                        <input type="submit" class="btn btn-danger" value="multi delete">
                    </form>{% endif %}</th>
            </thead>
            <tbody>
            {% for num, data in datas %}
                {% if data.edit_mod %}
                <tr id="id_row_{{ data.id }}">
                <form action="{% url "web:edit_method" data.id title %}" method="post">
                    <th class="text-center">
                        {{ num | add:1}}
                    </th>
                    <td class="text-center">
                        <input type="text" class="form-control" value="{{ data.text }}" name="text" id="id_text_{{ data.id }}">
                    </td>
                    <td class="text-center">
                        <input type="number" class="form-control" value="{{ data.amount }}" name="amount" id="id_amount_{{ data.id }}">
                    </td>
                    <td class="text-center">
                        <input type="datetime-local" class="form-control" value="{{ data.date }}" name="date" id="id_text_{{ data.id }}">
                    </td>
                    <td class="text-center"><input class="btn btn-info" type="submit" value="OK"></td>
                </form>
                </tr>
                {% else %}
                <tr id="id_row_{{ data.id }}">
                    <th class="text-center">
                        {% if multi_delete_mod %}
                            <input type="checkbox" class="" name="choice" value="{{ data.id }}" id="id_box_{{ data.id }}">
                        {% else %}
                            {{ num | add:1}}
                        {% endif %}
                    </th>
                    <td class="text-center">{{ data.text }}</td>
                    <td class="text-center">{{ data.amount }}</td>
                    <td class="text-center">{{ data.date }}</td>
                    <td class="text-center"><form action="{% url "web:delete_method" data.id title %}" method="post">
                        <input type="submit" class="btn btn-danger" value="delete">
                    </form>
                        <form action="{% url "web:edit_method" data.id title %}" method="post">
                        <input type="submit" class="btn btn-warning" value="edit">
                    </form></td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
                {% if multi_delete_mod %}
                    <input class="btn btn-info" type="submit" value="delete">
            </form>
            <form action="{% url "web:income" %}" method="get"><input class="btn btn-danger" value="cancel" type="submit"></form>

                {% endif %}
    </div>

<script>
    function selectAll(source) {
        const checkboxes = document.getElementsByName("choice");
        for(let checkbox of checkboxes){
            checkbox.checked = source.checked;
        }
    }
    if ("{{ scroll_tag }}" && "{{ scroll_tag }}" !== "None"){
        const tableTop = document.querySelector("#{{ scroll_tag }}").getBoundingClientRect().top + window.pageYOffset;
        const tableHeight = document.querySelector("#{{ scroll_tag }}").getBoundingClientRect().height;
        const pageHeight = window.innerHeight;
        if ("{{ scroll_status }}" === "down"){
            window.scrollTo({top:tableTop + tableHeight - pageHeight + 5 , behavior: "smooth"});}
        else{
            window.scrollTo({top:tableTop -70 , behavior: "smooth"});}
    }
</script>
{% endblock %}