{% extends "base.html" %}
{% block head %}
    <title>register</title>
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Welcome to Bestoon!</h1>
    {% if status %}
        <p>please Enter your information and press send verify email</p>
            <form class="" method="post">
                <div class="mb-3">
                    <label for="id_username" class="">user name:</label>
                    <input type="text" id="id_username" name="username">
                </div>
                <div class="mb-3">
                    <label for="id_email">email:</label>
                    <input type="email" id="id_email" name="email">
                </div>
                <div class="mb-3">
                    <label for="id_password">password:</label>
                    <input type="password" id="id_password" name="password">
                </div>
                <p style="color : rgba(255, 0, 0, 0.7)">{{ message }}</p>
                <input type="submit" value="verify">
            </form>
    {% else %}
        <p>please Enter your information and press send verify email</p>
            <p style="color : rgba(255, 0, 0, 0.7)">{{ message }}</p>
    {% endif %}
    </div>
{% endblock %}
